.line {
  height: 1px;
  padding: 10px 30px;
  margin: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.nav-open-mobile .sidebar-mobile {
  left: 0px;
}

.nav-open-mobile .sidebar-mobile {
  -webkit-transform: translate3d(0px, 0, 0);
  -moz-transform: translate3d(0px, 0, 0);
  -o-transform: translate3d(0px, 0, 0);
  -ms-transform: translate3d(0px, 0, 0);
  transform: translate3d(0px, 0, 0);
}

@media(max-width: 991) {
  .nav-open-mobile .navbar .container {
    left: -260px;
  }
  .nav-open-mobile .main-panel {
    left: 0;
    -webkit-transform: translate3d(-260px, 0, 0);
    -moz-transform: translate3d(-260px, 0, 0);
    -o-transform: translate3d(-260px, 0, 0);
    -ms-transform: translate3d(-260px, 0, 0);
    transform: translate3d(-260px, 0, 0);
  }
  .nav-open-mobile .main-shop {
    margin-left: 260px;
  }
}

#bodyClick-mobile {
  height: 100%;
  width: 100%;
  position: fixed;
  opacity: 0;
  top: 0;
  left: auto;
  content: "";
  z-index: 9999;
  overflow-x: hidden;
  left: 260px;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
  background: rgba(255, 255, 255, 0.13);
}

.main-shop {
  transform: translate3d(0px, 0, 0);
  transition: all 0.33s cubic-bezier(0.685, 0.0473, 0.346, 1);
  left: 0;
}

@media (min-width: 992px) {
  #bodyClick-mobile {
    left: 0px;
  }
  .sidebar-mobile {
    left: -265px;
    visibility: hidden;
  }
}

@media (max-width: 991px) {
  .sidebar-mobile {
    position: fixed;
    top: 0;
    bottom: 0;
    left: -520px;
    width: 260px;
    display: block;
    z-index: 1;
    color: #fff;
    font-weight: 200;
    background-size: cover;
    background-position: center center;
  }
}

.sidebar[data-color="light"]:after, body>.navbar-collapse[data-color="transparent"]:after {
  background: transparent;
  background: -moz-linear-gradient(top, silver 0%, silver 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, silver), color-stop(100%, silver));
  background: -webkit-linear-gradient(top, silver 0%, silver 100%);
  background: -o-linear-gradient(top, silver 0%, silver 100%);
  background: -ms-linear-gradient(top, silver 0%, silver 100%);
  background: linear-gradient(to top, white -50%, black 100%);
  background-size: 150% 150%;
}

/*Меню категорій desktop*/

@keyframes appearance {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 991px) {
  .category-button {
    display: none;
  }
}

@media (min-width: 992px) {
  .category-button:hover .category-list, .category-button:focus .category-list:not(.no-animate) {
    animation: appearance 0.3s ease-in;
  }
  .category-button .sub-button:focus>.submenu, .category-button .sub-button:hover>.submenu:not(.no-animate) {
    animation: appearance 0.3s ease-in;
  }
  .category-list a {
    color: white;
    font-weight: 400;
  }
  .category-button {
    color: white;
    font-weight: 600;
    background: #3e454c;
    border-radius: 10px;
    position: relative;
    padding: 10px 15px;
    margin: 10px 3px;
    position: relative;
    border: 0;
    outline: none;
    z-index: 1;
  }
  .navbar-default .navbar-nav>.category-button:hover
  /* .navbar-default .navbar-nav>.category-button:focus  */
    {
    color: white;
    font-weight: 600;
    background: #364b58;
    border-radius: 10px;
  }
  .category-button:hover .category-list
  /* .category-button:focus .category-list  */
    {
    visibility: visible;
  }
  .category-list {
    list-style-type: none;
    padding: 0px;
    position: absolute;
    background: #3e454c;
    min-width: 100%;
    left: 0px;
    margin-top: 10px;
    border-radius: 10px;
    font-weight: 300;
    visibility: hidden;
    white-space: nowrap;
  }
  .category-list>li {
    /* padding: 10px 20px 10px 20px; */
    border-radius: 0 0 10px 10px;
    border-top: 0.5px solid gray;
    position: relative;
  }
  .category-list p {
    padding: 10px 20px 10px 20px;
    margin: 0;
  }
  .category-list>li:first-child:not(:last-child) {
    border-radius: 10px 10px 0 0;
    overflow: visible;
  }
  .category-list>li:first-child:last-child {
    border-radius: 10px;
    overflow: visible;
  }
  .category-list>li:hover:not(:first-child), .category-list>li:focus:not(:first-child) {
    border-radius: 0 0 10px 10px;
    overflow: visible;
  }
  .category-list>li:hover, .category-list>li:focus {
    background-color: #364b58;
  }
  .sub-button>.submenu {
    list-style-type: none;
    padding: 0px;
    position: absolute;
    background: #3e454c;
    min-width: 100%;
    left: 100%;
    top: -0.5px;
    border-radius: 10px;
    font-weight: 300;
    white-space: nowrap;
    visibility: hidden;
  }
  .sub-button>.submenu>li:not(:first-child):not(:last-child) {
    border-radius: 0 0 10px 0px;
    border-top: 0.5px solid gray;
    border-left: 0.5px solid gray;
    position: relative;
  }
  .sub-button>.submenu>li:first-child {
    border-radius: 10px 10px 0 0;
    border-top: 0.5px solid gray;
    position: relative;
    border-left: 0.5px solid gray;
  }
  .sub-button>.submenu>li:last-child:not(:first-child) {
    border-radius: 0 0 10px 10px;
    border-top: 0.5px solid gray;
    border-left: 0.5px solid gray;
    position: relative;
  }
  .sub-button>.submenu>li:last-child {
    border-radius: 10px;
    border-top: 0.5px solid gray;
    border-left: 0.5px solid gray;
    position: relative;
  }
  .sub-button>.submenu>li:hover, .sub-button>.submenu>li:focus {
    background-color: #364b58;
  }
  .sub-button:focus>.submenu, .sub-button:hover>.submenu {
    visibility: visible;
  }
}

/*--------------Меню категорій desktop------------*/

/*--------------Меню категорій mobile------------*/

@media (max-width: 991px) {
  .category-button .category-list {
    padding: 0;
    margin: 5px 15px 5px 15px;
    list-style-type: none;
    border-top: 0.5px solid gray;
    border-bottom: 0.5px solid gray;
    display: block;
  }
  .category-list li:hover>a>p, .category-list .sub-button:hover>p {
    background: rgba(255, 255, 255, 0.13);
    opacity: 1;
    cursor: pointer;
    border-radius: 5px;
  }
  .category-button .category-list li a {
    margin: 0px;
  }
  .category-button .category-list li p {
    padding: 10px 5px;
  }
  .category-button .category-list .submenu li:first-child {
    padding-top: 5px;
  }
  .category-button .category-list .submenu {
    list-style-type: none;
  }
  .category-list .submenu {
    padding: 0;
    opacity: 0;
    animation: drop-up 0.3s ease-in;
    max-height: 0;
  }
  .category-list .submenu.--open {
    padding: 0;
    animation: drop-down 0.3s ease-in;
    opacity: 1;
    max-height: 500px;
  }
  .category-list {
    opacity: 0;
    animation: drop-up 0.3s ease-in;
    max-height: 0;
  }
  .category-list.--open {
    animation: drop-down 0.3s ease-in;
    opacity: 1;
    max-height: 500px;
  }
}

@keyframes drop-down {
  0% {
    opacity: 0;
    max-height: 0;
  }
  100% {
    opacity: 1;
    max-height: 1000px;
  }
}

@keyframes drop-up {
  0% {
    opacity: 1;
    max-height: 1000px;
  }
  100% {
    opacity: 0;
    max-height: 0;
  }
}

/*--------------Меню категорій mobile------------*/

/*Продукти*/

.product-item {
  width: 200px;
  text-align: center;
  padding: 0px;
  border-bottom: 2px solid #F5F5F5;
  background: white;
  font-family: "Open Sans";
  transition: .3s ease-in;
  outline: 1px solid silver;
  display: block;
  border-radius: 8px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  color: #474747;
  cursor: pointer;
}

.product-item:hover {
  border-bottom: 2px solid #fc5a5a;
}

.product-item img {
  display: block;
  width: 100%;
}

.product-list {
  background: #fafafa;
  padding: 15px 0;
}

.product-list h3 {
  font-size: 18px;
  font-weight: 400;
  color: #444444;
  margin: 0 0 10px 0;
}

.price {
  font-size: 16px;
  color: #fc5a5a;
  display: block;
  margin-bottom: 12px;
}

.item-button {
  text-decoration: none;
  display: inline-block;
  padding: 0 12px;
  background: #cccccc;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 28px;
  transition: .3s ease-in;
}

.product-item:hover .item-button {
  background: #fc5a5a;
  text-decoration: none;
  color: white;
}

.product-item:hover .product-photo img {
  transform: scale(1.05);
}

.product-photo {
  position: relative;
  padding-bottom: 100%;
  overflow: hidden;
}

.product-photo img {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  transition: transform .4s ease-out;
}

.products {
  list-style: none;
  margin: 0px -20px 0 0;
  padding: 0px;
  padding-left: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-wrapper {
  display: flex;
  width: 100%;
  float: left;
  transition: width .2s;
  clear: right;
  justify-content: center;
  min-width: 200px;
}

@media only screen and (min-width: 450px) {
  /* .products {
    max-width: 520px;
  } */
  .product-wrapper {
    width: 50%;
    /*50*/
  }
}

@media only screen and (min-width: 768px) {
  /* .products {
    max-width: 780px;
  } */
  .product-wrapper {
    width: 30%;
    /*33.333%*/
  }
}

/* .products {
    max-width: 1000px;
  } */

@media only screen and (min-width: 1200px) {
  .product-wrapper {
    width: 25%;
  }
}

/*-------------------------------------------------*/

/*Пагинация*/

.react-paginate ul {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  border-radius: 5px;
}

.react-paginate li {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  width: 34px;
  height: 28px;
  margin: 5px;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 19px;
  text-align: center;
}

.disabled {
  pointer-events: none;
  opacity: 0.4;
}

.selected {
  background: gray;
}

.react-paginate a {
  color: gray;
  width: 100%;
  height: 100%;
  text-decoration: none;
  outline: none;
}

.selected a {
  color: white;
  font-weight: bold;
  outline: none;
}

.react-paginate li:hover {
  cursor: pointer;
  border: 1px solid silver;
  opacity: 0.8;
}

.react-paginate {
  display: flex;
  align-items: center;
  justify-content: center
}

/*--------------------------------------------------*/

/*FILTER*/

.filter-header {
  display: flex;
}

.body-style {
  color: #331d35;
  background: white;
  /* width: 0px; */
  padding-right: 20px;
}

.body-style a {
  color: white;
  text-decoration: none;
}

.local-content {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background: white;
}

.cd-filter-content {
  list-style-type: none;
  padding: 0px
}

.cd-filter-content li {
  display: flex;
  flex-direction: row;
  align-self: center;
  align-items: center;
  justify-content: flex-start;
  vertical-align: middle;
}

.cd-filter-content li:hover>* {
  cursor: pointer;
  opacity: 0.7;
}

.cd-filter-block {
  margin-bottom: 1.6em;
}

.cd-filter-block h4 {
  /* filter block title */
  position: relative;
  margin-bottom: .2em;
  padding: 10px 0 10px 20px;
  color: #9a9a9a;
  /* text-transform: uppercase; */
  font-weight: 700;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}

.cd-filter-block h4::before {
  /* arrow */
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 16px;
  height: 16px;
  background: url("../img/cd-icon-arrow.svg") no-repeat center center;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}

.cd-filter-block .h4-clicked::before {
  transform: rotate(180deg) translateY(50%);
}

.cd-filter-block input, .cd-filter-block select, .cd-filter-block .radio-label::before, .cd-filter-block .checkbox-label::before {
  /* shared style for input elements */
  font-family: "Open Sans", sans-serif;
  border-radius: 0;
  background-color: #ffffff;
  /* border: 2px solid #e6e6e6; */
}

.cd-filter-block input[type='search'], .cd-filter-block select {
  width: 100%;
  padding: .8em;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  box-shadow: none;
}

.cd-filter-block input[type='search']:focus, .cd-filter-block select:focus {
  outline: none;
  background-color: #ffffff;
  border-color: #41307c;
}

.cd-filter-block input[type='search'] {
  /* custom style for the search element */
  border-color: transparent;
  background-color: #e6e6e6;
  /* prevent jump - ios devices */
}

.cd-filter-block input[type='search']::-webkit-search-cancel-button {
  display: none;
}

.cd-filter-block .cd-select {
  /* select element wrapper */
  position: relative;
}

.cd-filter-block .cd-select::after {
  /* switcher arrow for select element */
  content: '';
  position: absolute;
  z-index: 1;
  right: 14px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  width: 16px;
  height: 16px;
  background: url("../img/cd-icon-arrow.svg") no-repeat center center;
  pointer-events: none;
}

.cd-filter-block select {
  cursor: pointer;
}

.cd-filter-block select::-ms-expand {
  display: none;
}

.cd-filter-block .list li {
  position: relative;
  margin-bottom: .8em;
}

.cd-filter-block .list li:last-of-type {
  margin-bottom: 0;
}

.cd-filter-block input[type=radio], .cd-filter-block input[type=checkbox] {
  /* hide original check and radio buttons */
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  opacity: 0;
  z-index: 2;
}

.cd-filter-block .checkbox-label, .cd-filter-block .radio-label {
  padding-left: 24px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cd-filter-block .checkbox-label::before, .cd-filter-block .checkbox-label::after, .cd-filter-block .radio-label::before, .cd-filter-block .radio-label::after {
  /* custom radio and check boxes */
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}

.cd-filter-block .checkbox-label::before, .cd-filter-block .radio-label::before {
  width: 16px;
  height: 16px;
  left: 0;
  top: 12px;
}

.cd-filter-block .checkbox-label::after, .cd-filter-block .radio-label::after {
  /* check mark - hidden */
  display: none;
}

.cd-filter-block .checkbox-label::after {
  /* check mark style for check boxes */
  left: 0;
  width: 16px;
  height: 16px;
  background: url("../img/cd-icon-check.svg") no-repeat center center;
}

.cd-filter-block .radio-label::before, .cd-filter-block .radio-label::after {
  border-radius: 50%;
}

.cd-filter-block .radio-label::after {
  /* check mark style for radio buttons */
  width: 6px;
  height: 6px;
  background-color: #ffffff;
  left: 5px;
}

.cd-filter-block input[type=radio]:checked+label::before, .cd-filter-block input[type=checkbox]:checked+label::before {
  border-color: #41307c;
  background-color: #41307c;
}

.cd-filter-block input[type=radio]:checked+label::after, .cd-filter-block input[type=checkbox]:checked+label::after {
  display: block;
  top: 12px;
}

@-moz-document url-prefix() {
  /* hide custom arrow on Firefox - select element */
  .cd-filter-block .cd-select::after {
    display: none;
  }
}

.checkbox-filter {
  display: none;
}

@media only screen and (min-width: 992px) {
  .ref-checkbox {
    display: none;
  }
  .local-content {
    position: relative;
    width: 260px;
    /* padding: 20px; */
    z-index: 0;
  }
  .main-div {
    width: auto;
    top: 0;
    height: 100vh;
    z-index: 10;
    /* position: fixed; */
  }
  .filter-button {
    display: none;
  }
  .with-wrapper {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  .with-wrapper {
    left: 265px;
  }
  .react-dropdown-select-dropdown-handle {
    display: none;
  }
  .react-dropdown-select-dropdown {
    top: 40px;
  }
  .ref-checkbox {
    position: absolute;
    right: 3px;
    top: 3px;
  }
  .local-content {
    position: fixed;
    z-index: 21;
    max-width: 320px;
    min-width: 260px;
    top: 0px;
    left: 0px;
    height: 100vh;
  }
  .main-div {
    width: 0;
  }
  .body-style {
    padding: 0px;
  }
  .local-form {
    overflow-y: auto;
    height: 100%;
  }
  .filter-button {
    display: fixed;
  }
}

.local-form {
  padding: 20px;
}

@keyframes drop-right {
  0% {
    margin-left: -500px;
  }
  100% {
    margin-left: 0px;
  }
}

.view {
  display: flex;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.product-view-container {
  display: flex;
  flex-direction: column;
}

.hr-horizontal-line {
  width: 90%;
}

@media only screen and (min-width: 992px) {
  .filtre-button {
    display: none;
  }
  .head-product {
    padding-left: 20px;
  }
}

.--open-side {
  opacity: 1;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.75);
  z-index: 20;
}

@media only screen and (max-width: 991px) {
  .head-product {
    padding-left: 40px;
  }
}

@media only screen and (max-width: 310px) {
  .head-product {
    padding-left: 0px;
  }
}

@media only screen and (max-width: 991px) {
  .--hidden .local-content {
    left: -350px;
    animation-name: drop-back;
    -webkit-animation-name: drop-back;
    animation-duration: 0.50s;
    -webkit-animation-duration: 0.50s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
  }
  @keyframes drop-back {
    0% {
      left: 0px;
    }
    100% {
      left: -350px;
    }
  }
}

.local-content {
  left: 0px;
  animation-name: drop-right;
  -webkit-animation-name: drop-right;
  animation-duration: 0.50s;
  -webkit-animation-duration: 0.50s;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;
}

@keyframes drop-right {
  0% {
    left: -350px;
  }
  100% {
    left: 0px;
  }
}

.cd-filter-block .--hidden-items {
  opacity: 0;
  animation: drop-up 0.5s ease-in;
  max-height: 0;
  overflow: hidden;
}

.cd-filter-block .--show-items {
  opacity: 1;
  max-height: 340px;
  overflow: overlay;
  animation: drop-down 0.5s ease-in;
}

.filtre-button {
  outline: none;
  border: 0px;
  background: transparent;
}

.inputs-price {
  display: flex;
  flex-direction: row;
  max-width: 265px;
}

.fa-minus {
  padding: 10px;
  transform: translateX(-25%) translateY(10%);
}

.btn-price {
  margin: 8px 0 8px 5px;
}

.cd-sort {
  display: flex;
  justify-content: flex-end;
  padding: 0 40px 0 40px;
}

@media only screen and (max-width: 767px) {
  .cd-sort {
    justify-content: flex-start !important;
    padding: 15px 0 0 0;
  }
}

.cd-sort .css-2b097c-container {
  min-width: 250px;
}

.main-pr-block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.spr-selected-image {
  max-height: 320px;
  min-height: 260px;

  min-width: 260px;
  max-width: 320px;
  /* width: 320px; */
}

.pr-info {
  max-width: 450px;
  width: 100%;
  padding: 20px;
}

.price-block {
  display: flex;
  flex-direction: row;
  padding: 20px;
  border: 1px solid silver;
  border-radius: 5px;
  font-size: 36px;
  max-width: 450px;
  width: 100%;
  justify-content: space-between;
  flex-flow: wrap;
}

.pr-header {
  width: 90%;
}

.pr-bt {
  font-size: 18px;
  font-weight: 600;
}

.pr-bt>.pe-7s-wallet {
  font-weight: 600;
  padding-right: 8px;
}

.pr-props {
  margin-top: 20px;
}

.pr-props>ul {
  margin: 0;
  list-style-type: none;
  border: 1px solid silver;
  border-radius: 5px;
  padding: 20px;
}

.pr-props>ul>li {
  display: flex;
  padding: 10px;
  font-size: 16px;
}

.pr-props>ul>li:not(:first-child) {
  border-top: 0.5px solid silver;
}

.pr-props>ul>li>div {
  width: 50%;
}


.pr-garant {
  padding: 20px;
  border: 1px solid silver;
  border-radius: 5px;
}

.pr-block {
  display: flex;
  width: 100%;
  max-width: 970px;
}

@media only screen and (max-width: 1024px) {
  .pr-foo {
    width: 85%;
    display: flex;
    flex-direction: column;
  }
  .pr-des {
    width: 100%;
    padding: 20px;
    font-size: 18px;
  }
  
  .pr-dop-info {
    width: 100%;
    padding: 20px;
  }
}

@media only screen and (max-width: 786px)
{
  .pr-block {
    flex-direction: column;
    align-items: center;
  }
}

@media only screen and (max-width: 400px)
{
  .price-block {
    justify-content: center;
  }
}

@media only screen and (min-width: 1025px) {
  .pr-foo {
    width: 85%;
    display: flex;
    flex-direction: row;
  }
  .pr-des {
    width: 50%;
    max-width: 50%;
    padding: 20px;
    font-size: 18px;
  }
  
  .pr-dop-info {
    width: 50%;
    padding: 20px;
  }
}

@media only screen and (min-width: 787px)
{
  .pr-block {
    flex-direction: row;
  }
}

.form-control {
  margin-top: 8px;
  margin-bottom: 8px;
  width: 100%;
}

.fading{
  animation-name: fading;
  -webkit-animation-name: fading; 

  animation-duration: 0.750s; 
  -webkit-animation-duration: 0.750s;

  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;    

  visibility: visible !important;  
}

@keyframes fading {
  0% {
      opacity: 0.0;       
  }
  100% {
      opacity: 1; 
  }       
}

@-webkit-keyframes fading {
  0% {
      opacity: 0.0;       
  }
  100% {
      opacity: 1; 
  }       
}

.fading-back{
  animation-name: fading;
  -webkit-animation-name: fading; 

  animation-duration: 0.750s; 
  -webkit-animation-duration: 0.750s;

  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out;    

  visibility: visible !important;  
}

@keyframes fading-back {
  0% {
      opacity: 1;       
  }
  100% {
      opacity: 0.0; 
  }       
}

@-webkit-keyframes fading-back {
  0% {
      opacity: 1;       
  }
  100% {
      opacity: 0.0; 
  }       
}


.content-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.shadow {
   box-shadow: 0.4em 0.4em 6px rgba(0, 0, 0, 0.5); 
}

.vl {
  border-left: 1px solid silver;
  height: auto;
}

.cancel-button {
  border: 0px solid transparent;
  background-color: transparent;
}

.sign-up-google-block {
  width: auto;
  min-width: 150px;
  height: 42px;
}

.sign-up-google-button :hover {
  /* background-color: rgb(128, 132, 244); */
  opacity: 0.95;
  border-radius: 5px;
}

.sign-up-google-img {
  border-radius: 5px;
  height: 30px;
  width: 30px;
  margin: 5px;
  left: 0px;
}

.sign-up-link {
  color: white;
  font-size: 18px;
}

.select_links {
  color: black;
}

.select_links:hover {
  opacity: 0.60;
  color: black;
}

@media only screen and (min-width: 768px) {
  .modal-window {
    max-width: 580px;
    border-radius: 3px;
    background-color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    outline: none;
  }
  .button-text {
    margin-left: 10%;
  }
  .modal-button {
    margin: 5px;
  }
  .modal-footer {
    display: flex;
    justify-content: center;
    width: 65%;  /*Относительно половины окна*/
    align-items: top;
    border-top: 0px ;
    height: 100%;
  }
  .body-inputs {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
  .auth-modal-buttons {
    display: flex;
    flex-direction: column;
  }

  .auth-modal-button {
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    height: 44px;
    line-height: 44px;
    position: relative;
    min-width: 170px;
  }
  .auth-modal-icon {
    left: 8px;
    top: 10px;
    position: absolute;
  }
  .modal-header
  {
    display: flex;
  }
  .modal-body-footer
  {
    display: flex;
    flex-direction: row;
  }
  
  .auth-after-body-inputs
  {
    display: flex;
    justify-content: flex-start;
    padding: 0;
    
  }
  .line { 
    border-left: 0.5px solid lightgray; /* Параметры линии */ 
    margin-left: 20px; /* Отступ слева */
    margin-top: 10px;
    margin-bottom: 10px;
   }
}

@media only screen and (max-width: 767px) {
  .modal-window {
    border-radius: 3px;
    background-color: #fff;
    position: fixed;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0%);
    outline: none;
    min-width: 336px;
    width: 100%;
    height: 100%;
    max-width: 420px;
  }

  .modal-body-footer
  {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    align-items: center;
  }

  .modal-button {
    width: 100%;
    margin: 5px;
    justify-content: center;
    display: flex;
    font-size: 19px;
  }
  .modal-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 305px;
    padding-right: 0px;
    padding-left: 0px;
    min-width: 260px;
  }
  .modal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    padding-left: 0px;
    padding-right: 0px;
    height: 100%;
    padding:15px;
    min-width: 260px;
  }
  .auth-modal {
    width: 100%;
    padding: 0;
  }
  .auth-modal-buttons {
    width: 100%;
    max-width: 305px;
    margin-left: auto;
    margin-right: auto;
    min-width: 178px;
    color:white;
  }
  .auth-modal-button {
    -webkit-box-pack: center;
    justify-content: center;
    width: 100%;
    height: 44px;
    line-height: 44px;
    position: relative;
  }
  .auth-modal-icon {
    left: 8px;
    top: 10px;
    position: absolute;
  }
  .modal-header
  {
    display: flex;
  }
  .auth-after-body-inputs
  {
    padding: 0;
  }
}

.auth-modal {
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: justify;
  justify-content: space-between;
  box-sizing: border-box;
}

.auth-modal-buttons {
  margin-bottom: 21px;
}


.auth-button-type-facebook {
  background: #44619d;
}

.auth-button-type-login {
  background: #3e77aa;
}

.auth-button-type-google {
  background: #4285f4;
}

.button {
  margin-bottom: 10px;
}

.button:hover {
  text-decoration: none;
  opacity: 0.9;
  color: white;
}

.auth-modal-button {
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-align: center;
  align-items: center;
  padding: 0 4px;
  font-size: 120%;
  color: #fff !important;
  border-radius: 3px;
}

.auth-modal-icon {
  flex-shrink: 0;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  width: 29px;
  height: 26px;
  margin-right: 18px;
  border-radius: 3px;
  background-color: #fff;
}

.auth-body-inputs
{
  margin-bottom: 10px;
}

.modal-window
{
  border: 1px solid lightgrey;
  z-index: 1000000;
  outline: none;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.text-danger > ul
{
  padding:0;
}


.de-link:hover
{
  opacity: 0.6;
  cursor: pointer;
}

.is-invalid
{
  border-color: #dc3545;
}

.is-invalid:focus
{
  border-color: #dc3545;
  box-shadow: 0 0 0 0.3rem rgba(220,53,69,.25);
}

.invalid-feedback
{
  padding-left: 10px;
  color: #FF4A55;
}

.close-auth
{
  margin:5px !important;
}

.shoping-catr
{
  outline:none;
  top: -1.6px !important;
}

.notification-text
{
  margin-left: 5px;
}

.cart-items
{
  display: flex;
  justify-content: center;
  padding: 15px;
  flex-direction: column;
  border: 0.5px solid silver;
  border-radius: 5px;
}

.cart-item
{
  display: flex;
  padding: 5px;
  border: 0.5px solid silver;
  border-radius: 5px;
  min-height: 50px;
  padding: 5px;
  margin: 5px;
}

.cart-del-bt
{
  cursor: pointer;
  position: absolute;
}

.cart-del-bt:hover, 
.cart-del-bt:focus
{
  opacity: 0.6;
}

.cart-content
{
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}

.cart-content img
{
  max-width: 200px;
  max-height: 200px;
}

.cart-price
{
  display: flex;
  justify-content: start;
}
.cart-price > p
{
  border: 0.5px solid silver;
  padding: 8px 12px 8px 12px;
  border-radius: 5px;
  height: 40px;
}

.cart-count
{
  display: flex;
  justify-content: left;
  width: 100px;
}

.cart-current-price
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 22px;
  align-items: center;
}

.cart-dt
{
  display: flex;
  margin-top:22px;
  flex-direction: column;
}

.cart-t
{
  max-width: 350px;
}

.cart-total
{
  right:0px;
  align-self: flex-end;
  padding: 20px;
}

.pay-info
{
  border:0.5px solid silver;
  border-radius: 5px;
  padding: 15px;
  position: relative;
  max-width: 385px;
}

.select-city
{
  max-width: 350px;
}

.user-pay-info
{
  max-width: 350px;
}

.gif-loading
{
  position: fixed;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  z-index: 10000000;
  top: 0px;
  left: 0px;
}